<div class="panel-container">
  <div class="row">

    <div class="col-3">
    </div>
    <div class="col-6">
      <form [formGroup]="manageSubjectForm" (ngSubmit)="saveSubject()">

        <div class="form-row">
          <div class="form-group col-md-6 mb-6">
            <label for="inputsubjectName">Subject Name</label>
            <input type="text" class="form-control"
                   [ngClass]="manageSubjectForm.get('subjectName').invalid && (manageSubjectForm.get('subjectName').dirty || manageSubjectForm.get('subjectName').touched) && manageSubjectForm.controls['subjectName'].errors ? 'is-invalid' : ''"
                   id="inputsubjectName" placeholder="Subject Name" formControlName="subjectName">
            <div class="invalid-feedback"
                 *ngIf="manageSubjectForm.get('subjectName').invalid && (manageSubjectForm.get('subjectName').dirty || manageSubjectForm.get('subjectName').touched)">
              <span *ngIf="manageSubjectForm.controls['subjectName'].hasError('required')">This field is required</span>
              <span *ngIf="manageSubjectForm.controls['subjectName'].hasError('maxlength')">Max length of this field is 50 characters</span>
            </div>
          </div>

          <div class="form-group col-md-6 mb-6">
            <label for="inputcreditos">Credits</label>
            <input type="number" class="form-control"
                   [ngClass]="manageSubjectForm.get('creditos').invalid && (manageSubjectForm.get('creditos').dirty || manageSubjectForm.get('creditos').touched) && manageSubjectForm.controls['creditos'].errors ? 'is-invalid' : ''"
                   id="inputcreditos" placeholder="Credits" formControlName="creditos">
            <div class="invalid-feedback"
                 *ngIf="manageSubjectForm.get('creditos').invalid && (manageSubjectForm.get('creditos').dirty || manageSubjectForm.get('creditos').touched)">
              <span *ngIf="manageSubjectForm.controls['creditos'].hasError('required')">This field is required</span>
              <span *ngIf="manageSubjectForm.controls['creditos'].hasError('maxlength')">Max length of this field is 2 characters</span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 mb-6">
            <label for="inputcode">Code</label>
            <input type="text" class="form-control"
                   [ngClass]="manageSubjectForm.get('code').invalid && (manageSubjectForm.get('code').dirty || manageSubjectForm.get('code').touched) && manageSubjectForm.controls['code'].errors ? 'is-invalid' : ''"
                   id="inputcode" placeholder="Code" formControlName="code">
            <div class="invalid-feedback"
                 *ngIf="manageSubjectForm.get('code').invalid && (manageSubjectForm.get('code').dirty || manageSubjectForm.get('code').touched)">
              <span *ngIf="manageSubjectForm.controls['code'].hasError('required')">This field is required</span>
              <span *ngIf="manageSubjectForm.controls['code'].hasError('maxlength')">Max length of this field is 10 characters</span>
            </div>
          </div>

          <div class="form-group col-md-6 mb-6">
            <label for="inputhorasSemanais">Horas Semanais</label>
            <input type="time" class="form-control"
                   [ngClass]="manageSubjectForm.get('horasSemanais').invalid && (manageSubjectForm.get('horasSemanais').dirty || manageSubjectForm.get('horasSemanais').touched) && manageSubjectForm.controls['horasSemanais'].errors ? 'is-invalid' : ''"
                   id="inputhorasSemanais" placeholder="Horas Semanais" formControlName="horasSemanais">
            <div class="invalid-feedback"
                 *ngIf="manageSubjectForm.get('horasSemanais').invalid && (manageSubjectForm.get('horasSemanais').dirty || manageSubjectForm.get('horasSemanais').touched)">
              <span *ngIf="manageSubjectForm.controls['horasSemanais'].hasError('required')">This field is required</span>
              <span *ngIf="manageSubjectForm.controls['horasSemanais'].hasError('maxlength')">Max length of this field is 10 characters</span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 mb-6">
            <label for="inputcourse">Course</label>
            <input type="text" class="form-control"
                   [ngClass]="manageSubjectForm.get('course').invalid && (manageSubjectForm.get('course').dirty || manageSubjectForm.get('course').touched) && manageSubjectForm.controls['course'].errors ? 'is-invalid' : ''"
                   id="inputcourse" placeholder="Course" formControlName="course">
            <div class="invalid-feedback"
                 *ngIf="manageSubjectForm.get('course').invalid && (manageSubjectForm.get('course').dirty || manageSubjectForm.get('course').touched)">
              <span *ngIf="manageSubjectForm.controls['course'].hasError('required')">This field is required</span>
              <span *ngIf="manageSubjectForm.controls['course'].hasError('maxlength')">Max length of this field is 10 characters</span>

            </div>
          </div>
          <div class="form-group col-md-6 mb-6">
            <label for="inputArea">Area</label>
            <select id="inputArea" class="form-control" [ngClass]="manageSubjectForm.get('area').invalid && (manageSubjectForm.get('area').dirty || manageSubjectForm.get('area').touched) && manageSubjectForm.controls['area'].errors ? 'is-invalid' : ''"
                    formControlName="area">
              <option value="Matemática">Matemática</option>
              <option value="Física">Física</option>
              <option value="Programação">Programação</option>
              <option value="Web">Web</option>
              <option value="Redes">Redes</option>
              <option value="Programação Móvel">Programação Móvel</option>
            </select>
            <div class="invalid-feedback" *ngIf="manageSubjectForm.get('area').invalid && (manageSubjectForm.get('area').dirty || manageSubjectForm.get('area').touched)">
              <span *ngIf="manageSubjectForm.controls['area'].hasError('required')">This field is required</span>
            </div>
          </div>
        </div>

        <hr>
        <br/>
        <div class="form-row justify-content-center">
          <div class="row margin-top-10">
            <div class="col-12">
              <re-captcha formControlName="formRecaptcha"></re-captcha>
            </div>
          </div>
          <div class="margin-top-20 ml-4">
            <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
              <i class="fa fa-ban"></i><span>Cancel</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="manageSubjectForm.invalid || isSaving" class="btn btn-luso-light">
              <i class="fa fa-save"></i><span>Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
