<div class="panel-container">
  <form [formGroup]="manageCourseForm" (ngSubmit)="saveCourse()">
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputcourseName">Course Name</label>
        <input type="text" class="form-control" [ngClass]="manageCourseForm.get('courseName').invalid && (manageCourseForm.get('courseName').dirty || manageCourseForm.get('courseName').touched) && manageCourseForm.controls['courseName'].errors ? 'is-invalid' : ''"
               id="inputcourseName" placeholder="Course Name" formControlName="courseName">
        <div class="invalid-feedback" *ngIf="manageCourseForm.get('courseName').invalid && (manageCourseForm.get('courseName').dirty || manageCourseForm.get('courseName').touched)">
          <span *ngIf="manageCourseForm.controls['courseName'].hasError('required')">This field is required</span>
          <span *ngIf="manageCourseForm.controls['courseName'].hasError('maxlength')">Max length of this field is 50 characters</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputmaxStudents">Maximum Students</label>
        <input type="text" class="form-control" [ngClass]="manageCourseForm.get('maxStudents').invalid && (manageCourseForm.get('maxStudents').dirty || manageCourseForm.get('maxStudents').touched) && manageCourseForm.controls['maxStudents'].errors ? 'is-invalid' : ''"
               id="inputmaxStudents" placeholder="Maximum Students" formControlName="maxStudents">
        <div class="invalid-feedback" *ngIf="manageCourseForm.get('maxStudents').invalid && (manageCourseForm.get('maxStudents').dirty || manageCourseForm.get('maxStudents').touched)">
          <span *ngIf="manageCourseForm.controls['maxStudents'].hasError('required')">This field is required</span>
          <span *ngIf="manageCourseForm.controls['maxStudents'].hasError('maxlength')">Max length of this field is 10 characters</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputaverage">Average</label>
        <input type="text" class="form-control" [ngClass]="manageCourseForm.get('average').invalid && (manageCourseForm.get('average').dirty || manageCourseForm.get('average').touched) && manageCourseForm.controls['average'].errors ? 'is-invalid' : ''"
               id="inputaverage" placeholder="Average" formControlName="average">
        <div class="invalid-feedback" *ngIf="manageCourseForm.get('average').invalid && (manageCourseForm.get('average').dirty || manageCourseForm.get('average').touched)">
          <span *ngIf="manageCourseForm.controls['average'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputexamDate">Exam Date</label>
        <input type="text" class="form-control" [ngClass]="manageCourseForm.get('examDate').invalid && (manageCourseForm.get('examDate').dirty || manageCourseForm.get('examDate').touched) && manageCourseForm.controls['examDate'].errors ? 'is-invalid' : ''"
               id="inputexamDate" placeholder="Exam Date" formControlName="examDate">
        <div class="invalid-feedback" *ngIf="manageCourseForm.get('examDate').invalid && (manageCourseForm.get('examDate').dirty || manageCourseForm.get('examDate').touched)">
          <span *ngIf="manageCourseForm.controls['examDate'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputcredits">Credits</label>
        <input type="text" class="form-control" [ngClass]="manageCourseForm.get('credits').invalid && (manageCourseForm.get('credits').dirty || manageCourseForm.get('credits').touched) && manageCourseForm.controls['credits'].errors ? 'is-invalid' : ''"
               id="inputcredits" placeholder="Credits" formControlName="credits">
        <div class="invalid-feedback" *ngIf="manageCourseForm.get('credits').invalid && (manageCourseForm.get('credits').dirty || manageCourseForm.get('credits').touched)">
          <span *ngIf="manageCourseForm.controls['credits'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputnumberHalfs">Number Halfs</label>
        <input type="text" class="form-control" [ngClass]="manageCourseForm.get('numberHalfs').invalid && (manageCourseForm.get('numberHalfs').dirty || manageCourseForm.get('numberHalfs').touched) && manageCourseForm.controls['numberHalfs'].errors ? 'is-invalid' : ''"
               id="inputnumberHalfs" placeholder="Number Halfs" formControlName="numberHalfs">
        <div class="invalid-feedback" *ngIf="manageCourseForm.get('numberHalfs').invalid && (manageCourseForm.get('numberHalfs').dirty || manageCourseForm.get('numberHalfs').touched)">
          <span *ngIf="manageCourseForm.controls['numberHalfs'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputexamDate">Area</label>
        <input type="text" class="form-control" [ngClass]="manageCourseForm.get('area').invalid && (manageCourseForm.get('area').dirty || manageCourseForm.get('area').touched) && manageCourseForm.controls['area'].errors ? 'is-invalid' : ''"
               id="inputarea" placeholder="Area" formControlName="area">
        <div class="invalid-feedback" *ngIf="manageCourseForm.get('area').invalid && (manageCourseForm.get('area').dirty || manageCourseForm.get('area').touched)">
          <span *ngIf="manageCourseForm.controls['area'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <hr>
    <h4 id="teacher-heading">
      <span>Teachers</span>
      <button type="button" id="new-teacher-btn" class="btn btn-primary float-right" (click)="addTeacher()">
        <i class="fa fa-plus"></i>
        <span>
          Add new Teacher
        </span>
      </button>
    </h4>
    <br/>
    <div class="table-responsive" *ngIf="teacherControls.length > 0">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th><span>ID</span></th>
          <th><span>Teacher Name</span></th>
          <th><span>Contact</span></th>
          <th><span>Teacher Specialization</span></th>
          <th><span>City</span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let teacher of teacherControls; index as i;" formArrayName="teacher">
          <ng-container [formGroupName]="i">
            <td>{{ teacher.get('id').value }}</td>
            <td>
              <select class="form-control" name="teacherSpecialization-{{i}}" id="teacherSpecialization-{{i}}" formControlName="teacherSpecialization">
                <option value="PM">Matemática</option>
                <option value="TECH_ARCH">Física</option>
                <option value="DEVOPS">Programação</option>
                <option value="SD">Web</option>
                <option value="D">Redes</option>
                <option value="TM">Móvel</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control" name="teacherName-{{i}}" id="teacherName-{{i}}" formControlName="teacherName"/>
            </td>
            <td>
              <input type="text" class="form-control" name="contacto-{{i}}" id="contacto-{{i}}" formControlName="contacto"/>
            </td>
            <td>
              <input type="text" class="form-control" name="city-{{i}}" id="city-{{i}}" formControlName="city"/>
            </td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteTeacher(i)">
                  <i class="fa fa-times"></i>
                  <span class="d-none d-md-inline"> Delete</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="row margin-top-10">
      <div class="col-12">
        <re-captcha formControlName="formRecaptcha"></re-captcha>
      </div>
    </div>
    <div class="margin-top-20">
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageCourseForm.invalid || isSaving" class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>
