<div class="panel-container">
  <form [formGroup]="manageTeacherForm" (ngSubmit)="saveTeacher()">
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputteacherName">Teacher Name</label>
        <input type="text" class="form-control" [ngClass]="manageTeacherForm.get('teacherName').invalid && (manageTeacherForm.get('teacherName').dirty || manageTeacherForm.get('teacherName').touched) && manageTeacherForm.controls['teacherName'].errors ? 'is-invalid' : ''"
               id="inputteacherName" placeholder="Teacher Name" formControlName="teacherName">
        <div class="invalid-feedback" *ngIf="manageTeacherForm.get('teacherName').invalid && (manageTeacherForm.get('teacherName').dirty || manageTeacherForm.get('teacherName').touched)">
          <span *ngIf="manageTeacherForm.controls['teacherName'].hasError('required')">This field is required</span>
          <span *ngIf="manageTeacherForm.controls['teacherName'].hasError('maxlength')">Max length of this field is 50 characters</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputcontacto">Contacto</label>
        <input type="text" class="form-control" [ngClass]="manageTeacherForm.get('contacto').invalid && (manageTeacherForm.get('contacto').dirty || manageTeacherForm.get('contacto').touched) && manageTeacherForm.controls['contacto'].errors ? 'is-invalid' : ''"
               id="inputcontacto" placeholder="Contacto" formControlName="contacto">
        <div class="invalid-feedback" *ngIf="manageTeacherForm.get('contacto').invalid && (manageTeacherForm.get('contacto').dirty || manageTeacherForm.get('contacto').touched)">
          <span *ngIf="manageTeacherForm.controls['contacto'].hasError('required')">This field is required</span>
          <span *ngIf="manageTeacherForm.controls['contacto'].hasError('maxlength')">Max length of this field is 10 characters</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputteacherSpecialization">Teacher Specialization</label>
        <input type="text" class="form-control" [ngClass]="manageTeacherForm.get('teacherSpecialization').invalid && (manageTeacherForm.get('teacherSpecialization').dirty || manageTeacherForm.get('teacherSpecialization').touched) && manageTeacherForm.controls['teacherSpecialization'].errors ? 'is-invalid' : ''"
               id="inputteacherSpecialization" placeholder="Teacher Specialization" formControlName="teacherSpecialization">
        <div class="invalid-feedback" *ngIf="manageTeacherForm.get('teacherSpecialization').invalid && (manageTeacherForm.get('teacherSpecialization').dirty || manageTeacherForm.get('teacherSpecialization').touched)">
          <span *ngIf="manageTeacherForm.controls['teacherSpecialization'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" [ngClass]="manageTeacherForm.get('city').invalid && (manageTeacherForm.get('city').dirty || manageTeacherForm.get('city').touched) && manageTeacherForm.controls['city'].errors ? 'is-invalid' : ''"
               id="inputCity" placeholder="City" formControlName="city">
        <div class="invalid-feedback" *ngIf="manageTeacherForm.get('city').invalid && (manageTeacherForm.get('city').dirty || manageTeacherForm.get('city').touched)">
          <span *ngIf="manageTeacherForm.controls['city'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="row margin-top-10">
      <div class="col-12">
        <re-captcha formControlName="formRecaptcha"></re-captcha>
      </div>
    </div>
    <div class="margin-top-20">
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageTeacherForm.invalid || isSaving" class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>
