<main role="main">

  <div id="carouselStaticContacts" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/n4PuLAX.jpg" class="d-block w-100" alt="Contacts image">
        <div class="carousel-caption-luso">
          <span class="font-weight-normal carousel-font-luso">Contacts</span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-container m-0">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="pl-3">
          <span>Telefone</span>
        </h1>
        <div class="card" style="width: 30rem;">
          <div class="card-body" >
            <h5 class="card-title">217 515 500</h5>
            <p class="card-text">Atendimento Telefónico - 2.ª a 6.ª das 11h30 - 16h30</p>
            <p class="card-text"></p>
            <a href="tel:217515500" class="btn btn-luso-light">Ligue agora</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h1 class="pl-3">
          <span>Localização</span>
        </h1>
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Campo Grande, 376</h5>
            <p class="card-text">1749-024 Lisboa - Portugal</p>
            <a href="https://www.google.com/maps/search/1749-024/@38.7578247,-9.1536659,18z" class="btn btn-luso-light">Google Maps</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h1 class="pl-3">
          <span>Email</span>
        </h1>
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">info@ulusofona.pt / administracao@ulusofona.pt</h5>
            <p class="card-text">Resposta apenas nos dias úteis</p>
            <a href="mailto:info@ulusofona.pt" class="btn btn-luso-light">Envie agora</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
