<footer class="footer">
    <div class="row">
      <!-- Built with -->
      <div class="col p-4 text-center">Built with:
        <a href="https://angular.io/">Angular</a>,
        <a href="https://getbootstrap.com/">Bootstrap</a> and
        <a href="https://firebase.google.com/">Firebase</a>.
      </div>
      <!-- Copyright -->
      <div class="col p-4 text-center">Copyright André Carpinteiro & David Silva © 2020
      </div>
      <!-- Privacy Policy and Terms of Service-->
      <div class="col p-4 text-center">Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms"> Terms of Service</a> apply.
      </div>
    </div>
</footer>
