/* You can add global styles to this file, and also import other style files */
.panel-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
  margin-top: 80px;
}

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
/* ==========================================================================
Cores da Lusofona
========================================================================== */
.luso-prim{
  background-color: #0B3E67;
}

.luso-sec{
  background-color: #215075;
}

.luso-terc{
  background-color: #7b9ab6;
}

.luso-prim-dark{
  background-color: #0A385E;/*072843*/
}

.luso-terc-dark{
  color: #476E8D;
}

.carousel-caption-luso {

  position: absolute;
  //right: 0%;
  //bottom: 20px;
  left: 12%;
  top: 35%;
  //z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.carousel-font-luso{
  font-size: 6em;
}
/*------------------------------Tamanho e cor dos botões------------------------------------*/

.btn-luso-light {
  color: #fff;
  background-color: #3E6788;
  border-color: #3E6788;
}
.btn-luso-light:hover {
  color: #fff;
  background-color: #305876;
  border-color: #2d546f;
}

/*.icon-luso span{
  font-size: 1rem;
  font-weight: 100;
}*/

/* ==========================================================================
Entity Details Page CSSS
========================================================================== */
.row.entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }

  i {
    margin-right: 10px;
  }
}

/*MARGINS AND PADDINGS GO HERE - USE THEM ELSEWHERE AND PLAGUES WILL FALL UPON YOU
All margin and padding values are available from -250 to 300 */

$pixels: 300;

@mixin margin-list {
  @for $i from -250 through $pixels {

    .margin-top-#{$i} {
      margin-top: #{$i}px !important;
    }

    .margin-right-#{$i} {
      margin-right: #{$i}px !important;
    }

    .margin-bottom-#{$i} {
      margin-bottom: #{$i}px !important;
    }

    .margin-left-#{$i} {
      margin-left: #{$i}px !important;
    }

    .margin-#{$i} {
      margin: #{$i}px !important;
    }

    .padding-top-#{$i} {
      padding-top: #{$i}px !important;
    }

    .padding-right-#{$i} {
      padding-right: #{$i}px !important;
    }

    .padding-bottom-#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .padding-left-#{$i} {
      padding-left: #{$i}px !important;
    }

    .padding-#{$i} {
      padding: #{$i}px !important;
    }
  }
}

@include margin-list;
