<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="mt-5 jumbotron luso-terc">
    <div class="container">
      <h1 class="display-3 text-light font-weight-bold">Bem-vindo ao CRUD Universitário</h1>
      <p class="text-light">Através desta plataforma podes gerar, visualizar alterar e eliminar, diferentes entidades numa faculdade como projectos, cadeiras, cursos, etc.</p>
      <p><a class="btn btn-luso-light btn-lg" href="#" role="button">Vê como »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4" *ngIf="totalProjects.length > 0 ">
        <h2 class="card-title">{{ lastProject.projectName}}</h2>
        <p> {{ lastProject.companyName }} {{ lastProject.city }}</p>
        <p> {{ lastProject.companyAddress }} {{ lastProject.zip }}</p>
        <p><a class="btn btn-luso-light " href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4" *ngIf="totalAcademics.length > 0 ">
        <h2 class="card-title">{{ lastAcademic.educationalInstitution}}</h2>
        <p> {{ lastAcademic.description }} {{ lastAcademic.activities }} {{ lastAcademic.formation }}</p>
        <p> {{ lastAcademic.description }} {{ lastAcademic.activities }} {{ lastAcademic.formation }}</p>
        <p><a class="btn btn-luso-light" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4" *ngIf="totalCertifications.length > 0 ">
        <h2 class="card-title">{{ lastCertification.certName}}</h2>
        <p> {{ lastCertification.certCode }} {{ lastCertification.expireDate }} {{ lastCertification.certUrl }}</p>
        <p><a class="btn btn-luso-light" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
